<BlogConfigInfo>
  <WebSiteName>雨点博客</WebSiteName>
  <WebSiteTitle>雨点博客</WebSiteTitle>
  <MeteKey>开源,雨点,.NET</MeteKey>
  <MeteInfo>开源的.NET博客系统</MeteInfo>
  <Tel>13666856933</Tel>
  <Email>963577494@qq.com</Email>
  <WebSitePath>C:\Documents and Settings\zxj\My Documents\Visual Studio 2010\Projects\YudianBlog\YudianBlog.Web\</WebSitePath>
  <WebSiteDomain>http://location:1902</WebSiteDomain>
  <StatisticsCode>123456</StatisticsCode>
  <StatisticsCode>123456</StatisticsCode>
  <IsCloseWebSite>0</IsCloseWebSite>
  <CloseWebSiteInfo>123456</CloseWebSiteInfo>
  <CopyRight>123456</CopyRight>
  <PublicMethod>0</PublicMethod>
  <StaticPageFileType>.aspx</StaticPageFileType>
  <Version>1.0.0.0</Version>
</BlogConfigInfo>