<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <!--表明以下的配置是针对session-factory配置的，SessionFactory是Hibernate中的一个类，这个类主要负责保存HIbernate的配置信息，以及对Session的操作-->
  <session-factory name="NHibernate.Test">
    <!--数据库驱动程序-->
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <!--数据库连接字符串-->
    <property name="connection.connection_string">Server=.;initial catalog=Yudian;uid=sa;pwd=123456;</property>
    <property name="show_sql">true</property>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <!--<property name="max_fetch_depth">3</property>-->
    <property name="command_timeout">60</property>
    <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
    <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
    <!-- mapping files -->
    <mapping assembly="YudianBlog.Repository.NHibernate"/>
  </session-factory>
</hibernate-configuration>

