<?xml version="1.0"?>
<ThemeConfigInfoList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigList>
    <ThemeConfigInfo>
      <ThemeId >1</ThemeId>
      <ThemeName >BlackTime</ThemeName>
      <ThemeVersion>1.0.0.0</ThemeVersion>
      <ThemeAuthor>zxj</ThemeAuthor>
      <ThemeEmail>963577494@qq.com</ThemeEmail>
      <ThemeSiteUrl>www.winmono.com</ThemeSiteUrl>
      <ThemePubDate>2014-01-09</ThemePubDate>
      <ThemeDescript>BlackTime黑色时间主题</ThemeDescript>
      <ThemeEnabled>1</ThemeEnabled>
    </ThemeConfigInfo>
  </ConfigList>
</ThemeConfigInfoList>